@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200;1,700&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.Jumbotron {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../Pictures/background_kikamba.jpg");
  background-size: cover;
  object-fit: scale-down;
  overflow: hidden;
  position: relative;
  overflow: hidden;
}
.Jumbotron h1 {
  font-size: 8vh;
  margin-top: 10%;

  width: 50%;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #df7142;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .Jumbotron h1 {
    font-size: 6vh;
    width: fit-content;
    text-align: center;
    margin-top: 40%;
    margin-left: 0%;
  }
}

.warning {
  vertical-align: middle;
}
@media screen and (max-width: 1024px) {
  .warning {
    vertical-align: middle;
  }
}

/* NAVBAR */

/* Horizontal rule */

hr {
  border-bottom: 4px dotted #df7142;
  opacity: 0.15;
  width: 10rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
