@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
html {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-style: italic;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
h3 {
  font-style: italic;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}
h2 {
  font-style: italic;
  font-family: "Montserrat", sans-serif;
}
.p {
  font-family: "Montserrat", sans-serif;
}
